* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF9B63;
}

.header span {
  color: #fff;
}

.main {
  flex: 1;
}

.main input {
  width: 100%;
  height: 60px;
  text-indent: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer span {
  width: 90%;
  height: 40px;
  text-align: center;
  color: #fff;
  background: #FF9B63;
  border-radius: 20px;
  margin: 0 auto;
  line-height: 40px;
}
